.smile-icon {
  width: 45px;
  height: 45px;
  margin-top: $marginTiny * 10;
}
.pound-icon {
  width: 45px;
  height: 44px;
  margin-top: $marginSmall;
}
.light-bulb-icon {
  width: 33px;
  height: 54px;
}
.gear-icon {
  width: 17px;
  height: 17px;
  margin-right: $marginSmall;
}
.gas-icon {
  width: 34px;
  height: 50px;
}
.magnify-glass-icon {
  width: 15px;
  height: 15px;
  margin-right: $marginNormal;
}
.british-gas-logo {
  width: 90px;
  height: 35px;
  position: relative;
  margin-top: $marginSmall;
}
.edf-logo {
  width: 38px;
  height: 60px;
}
.scottish-power-logo {
  width: 92px;
  height: 29px;
  margin-top: $marginNormal;
}
.npower-logo {
  width: 94px;
  height: 23px;
  margin-top: $marginNormal;
}
.eon-logo {
  width: 73px;
  height: 23px;
  margin-top: $marginNormal;
}
.show-toggle-arrows {
  margin-right: $marginLarge;
}
.eon-image {
  width: 78px;
  height: 78px;
}
