.header {
  background-color: $primaryColor;
  padding-bottom: $paddingLarge;
  .text {
    margin-top: $marginNormal;
  }
  .headerContent {
    margin-top: $marginNormal;
  }
  .button {
    margin-top: $marginSmall;
  }
}